<footer class="footer">
  <small>
    The <a href="https://peaceful-wildwood-7460.herokuapp.com">Overture</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://awakeningsuite.myshopify.com/">News</a></li>
    </ul>
  </nav>
</footer>
